// 颜色定义规范
$color-background = #FFF;
$color-background-d = #f4f6f8;
$color-highlight-background = #2f2f2f;
$color-theme = #45526b;
$color-theme-d =  #b9b9b9;
$color-sub-theme = #d93f30
$color-text = #343434;
$color-hightlight = #ffde2a;
//$color-hightlight = #d93f30;
$color-text-d =#52555a;
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
//#e94328//$color-theme-d = #52555a;
//字体定义规范

$font-size = 14px
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 15px
$font-size-medium-x = 16px
$font-size-large = 20px
$font-size-large-x = 22px
